label
  .remind Click To Switch Day/Night!
  input(type="checkbox")
  .scene
    .rainbow
    .sun
    .moon
    .lefttopText
      .blueblock
      h5 A DAY<br>OF THE CITY
      h1 Tokyo Japan<br>
        span.nightText Night Sky
        span.dayText Day Sky
      p Zecheng Wang:HTML/CSS動畫練習<br><br><br><br>
    .allClouds
      .Cloud1
      .Cloud2
      .Cloud3
      .Cloud4
      .Cloud5
      .Cloud6
    .mountains
      .mountain1
      .mountain2
      .mountain3
    .allstars
      .star1
      .star2
      .star3
      .star4
      .star5
      .star6
      .star7
      .star8
      .star9
      .star10
      .star11
      .star12
      .star13
      .star14
      .star15
      .star16
      .star17
      .star18
      .star19
      .star20
      .star21
      .star22
      .star23
      .star24
      .star25
      .star26
      .star27
      .star28
      .star29
      .star30
    .pryo1
      .container1
        .ball
      .container2
        .ball
      .container3
        .ball
      .container4
        .ball
      .container5
        .ball
      .container6
        .ball
      .container7
        .ball
      .container8
        .ball
      .container9
        .ball
      .container10
        .ball
      .container11
        .ball
      .container12
        .ball
    .pryo2
      .container1
        .ball
      .container2
        .ball
      .container3
        .ball
      .container4
        .ball
      .container5
        .ball
      .container6
        .ball
      .container7
        .ball
      .container8
        .ball
      .container9
        .ball
      .container10
        .ball
      .container11
        .ball
      .container12
        .ball
    .pryo3
      .container1
        .ball
      .container2
        .ball
      .container3
        .ball
      .container4
        .ball
      .container5
        .ball
      .container6
        .ball
      .container7
        .ball
      .container8
        .ball
      .container9
        .ball
      .container10
        .ball
      .container11
        .ball
      .container12
        .ball  

    .skytree
      .skytreeelement1
      .skytreeelement2
      .skytreeelement3
    .buildings
      .building1
      .building2
        .bar1
        .bar2
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building3
        .bar
        .roof
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building4
        .roof
        .bar
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building5
        .roof
        .bar
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building6
        .roof
        .bar1
        .bar2
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building7
        .bar1
        .bar2
        .bar3
        .bar4
        .bar5
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building8
        .building_1
          .bar
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
        .building_2
          .bar
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
          .window
        .building_3
      .building9
        .house1
          .window
            .circle
            .circle
            .circle
        .house2
          .door
        .house3
          .wall
            .window
          .wall
            .window
          .wall
            .window
          .roof
            .rooftop
              .cross
      .building10
        .roof
        .bar1
        .bar2
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building11
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .building12
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
        .window
      .bridge1
        .line1
        .line2
        .line3
        .line4
      .bridge2







